:root{
  --body-bg:#fff;
  --heading-color:#34313D;
  --text-color:#9E9AA8;
  --acksent-color:#2BD0D0;
  --acksent-color-hover:#9AE3E3;
  --layt-bg:#F2F2F2;
  --dark-bg:#232127;
  --error-color:#F46363;
}
/* GLOBAL */
html{
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing:inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family:"Poppins",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color:var(--body-bg);
  color:var(--text-color);
}
img{
  max-width: 100%;
  height: auto;
}
/* CONTAINER */
.container{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
/* MAI-CONTANENT */
.main-content{
  flex-grow: 1;
}